body{
    background-color: #F5F5F5!important;
}
h1, h2, h6 { 
    font-family: 'Lexend', sans-serif;
    letter-spacing: 4.80px;
}
h4 { 
    font-family: 'Lexend', sans-serif;
    font-size: 2rem!important;
    text-transform: uppercase;
    font-weight: 600!important;
    letter-spacing: 9.68px;
}
h3, p, a {
    font-family: 'Nunito', sans-serif;
}
img{
    pointer-events: none;
}
.bg-body-nav {
    background: #F5F5F5;
    box-shadow: 0px 7px 23px -5px rgba(191,191,191,0.91);
    -webkit-box-shadow: 0px 7px 23px -5px rgba(191,191,191,0.91);
    -moz-box-shadow: 0px 7px 23px -5px rgba(191,191,191,0.91); 
}
.nav-link:hover{
    color: rgb(0 0 0);
    font-weight: 600;
}
.nav-link.active{
    color: rgb(0 0 0);
    font-weight: 600;
}
.about-title{
    font-family: 'Lexend', sans-serif;
    letter-spacing: 1.80px;
    font-size: 18px;
    line-height: 40px;
}
.offcanvas{
    text-transform: uppercase;
    letter-spacing: 2.88px;
}
.spacing{
    padding: 150px 0 80px;
}
.card-inside{
    padding: 200px 24px 0;
}
.cases{
    display: none;
}
.cases hr{
    margin: 0px;
    margin-left: 12px;
}

.button-card {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #0F0F0F;
    font-weight: 600;
    transition: all 0.5s ease;
}

.button-card svg {
    margin-right: 0px;
    transition: all 0.5s ease;
}

.button-card:hover svg {
    margin-left: 8px;
    transition: all 0.5s ease;
}
.toggle-button{
    text-decoration: none;
    color: black;
    cursor: pointer
}
.active{
    text-decoration: underline;
    font-weight: 800;
}
.side-date{
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(270deg);
    margin: 80px -40px;
}
.img-card{
    object-fit: cover;
}
footer a{
    margin: 0 10px;
}
.bg-footer{
    background: #F5F5F5;
    box-shadow: 0px 4px 17px -3px rgba(0, 0, 0, 0.25);
}
.about-info{
    background: #F0F0F0;
    padding: 30px;
}
.skills p {
    padding: 0 0px 0px 25px;
}
.skills ul, li{
    list-style: none;
}
.vertical {
    border-right: 1px solid #adadad;
    height: 250px;
    position: relative;
    margin-top: -225px;
    left: 25px;
}
.mt-5{
    margin-top: 100px;
}
.ptb-5{
    padding: 100px 0;
}
.background-1{
    background: no-repeat center url("../img/projects/bees-app/Bees-background2.png");
    height: 500px;
    background-size: cover;
}
.background-2{
    background: no-repeat center url("../img/projects/beescrm-background.png");
    height: 500px;
    background-size: cover;
}
.background-3{
    background: no-repeat center url("../img/projects/detallex-background.png");
    height: 500px;
    background-size: cover;
}
.background-4{
    background: no-repeat center url("../img/projects/sihay-background.png");
    height: 500px;
    background-size: cover;
}
.background-5{
    background: no-repeat center url("../img/projects/bancox-background.png");
    height: 500px;
    background-size: cover;
}
.background-6{
    background: no-repeat center url("../img/projects/homiecrm-background.png");
    height: 500px;
    background-size: cover;
}
.background-nxtcase-1{
    background: no-repeat center url("../img/projects/bees-app/beescrm-nextcase.png");
    height: 270px;
    background-size: cover;
}
.background-nxtcase-1 a{
    color: #000;
    font-family: Lexend;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.background-nxtcase-1 a svg {
    margin-right: 0px;
    transition: all 0.5s ease-in-out;
}

.background-nxtcase-1 a:hover svg {
    margin-left: 8px;
    transition: all 0.5s ease-in-out;
}
.hive-right{
    position: absolute;
    z-index: -1;
    width: 700px!important;
    top: 1000px;
    right: 0px;
}
.hive-left{
    position: absolute;
    z-index: -1;
    width: 600px!important;
    top: 2300px;
    left: 0px;
}
.bee-right{
    position: absolute;
    width: 220px;
    top: 2977px;
    right: 0;
}
.bee-left{
    position: absolute;
    width: 80px;
    top: 3526px;
    left: 67px;
}
.positioning{
    margin-top: -350px;
}
.case-title{
    font-family: Lexend;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 28.8px;
}
.subtitle {
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
.subtitle-h5{
    font-family: Lexend;
    font-size: 18px;
}
.main-image{
    object-fit: contain;
}
.case-info{
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 235.294% */
    letter-spacing: 1.7px;
    padding-right: 130px;
}
.case-details h4{
    font-family: Lexend;
    font-size: 18px!important;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 222.222% */
    letter-spacing: 4.32px;
    text-transform: uppercase;
}
.research-img{
    background: no-repeat center url("../img/projects/bees-app/research-bees.png");
    width: auto;
    height: 400px;
    background-size: contain;
}
.flow-img{
    height: 500px;
    width: 100%;
    overflow: auto;
}
.image-centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list li{
    list-style: disc;
    margin-left: 10px;
}
.card-painpoint{
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    height: 140px;
    margin: 10px;
    box-shadow: 0px 17px 25px -8px rgba(132, 132, 132, 0.28);
}
.card-number{
    position: relative;
    color: #eaeaea61;
    font-family: Lexend;
    font-size: 64px;
    margin-top: -41px;
    margin-bottom: -45px;
    margin-left: -314px;
}
.final-design img{
    padding: 30px;
    height: 100%;
}
.gray-bg{
    background: #EAEAEA;
}
.panel01{
    position: relative;
    top: 170px;
    left: 145px;
}
.panel02{
    position: relative;
    top: 357px;
    left: -178px;
}
.margin-less{
    margin-top: -302px;
}

@media only screen and (max-width: 1616px) {
    .panel02{
        top: 14%;
        left: -3%;
    }
  }

@media only screen and (max-width: 1399px) {
    .img-card, .main-image {
        width: 100%;
    }
    .bee-right{
        width: 155px;
        top: 2778px;
    }
    .bee-left{
        width: 66px;
        left: 29px;
    }
    .hive-left, .hive-right{
        width: 500px!important;
    }
    .hive-left2{
        position: relative;
        left: -10%;
    }
    .panel01 {
        left: 95px;
    }
    .panel02{
        top: 14%;
        left: -3%;
    }
  }

 @media only screen and (max-width: 1199px) {
    .bee-right, .bee-left{
        display: none;
    }
    .research-img{
        height: 300px;
        background-size: cover;
    }
    .background-nxtcase-1{
        background-size: cover;
        background-position: left;
    }
    .hive-left2 {
        position: relative;
        left: -90%;
    }
    .panel01 {
        left: 10%;
    }
    .panel02 {
        top: 14%;
        left: -28%;
    }
  }


@media only screen and (max-width: 992px) {
    h1, h2, h6, .case-title{ 
        letter-spacing: 0px;
    }
    .card-inside {
        padding: 48px 0px;
    }
    .cases hr, .vertical{
        display: none;
    }
    .case-info{
        letter-spacing: 0px;
        padding-right: 0px;
    }
    .profile{
        margin-left: 100px;
        margin-bottom: 60px;
    }
    .hive-left2 {
        left: -185%;
    }
    .panel01 {
        left: -5%;
    }
    .panel02 {
        left: -53%;
    }
}

@media only screen and (max-width: 768px) {
    .case-info{
        margin-top: -100px;
    }
    .hive-left, .hive-right, .hive-left2{
        display: none;
    }
    .background-nxtcase-1 a {
        font-size: 16px;
        letter-spacing: 4px;
    }
    .image-centered, .img-slashed{
        width: 100%!important;
    }
    .container{
        --bs-gutter-x: 3rem!important;
    }
    .margin-less{
        margin-top: 0px;
    }
    .panel01{
        position: relative;
        top: 0px;
        left: 8%;
    }
    .panel02{
        position: relative;
        top: -8%;
        left: 40%;
    }
    .panel01 {
        top: -15%;
        left: 12%;
    }
    .panel02 {
        left: 21%;
    }
}

@media only screen and (max-width: 576px) {
    .background-nxtcase-1 a {
        font-size: 16px;
        letter-spacing: 0px;
        padding: 0px 40px;
    }
    .background-nxtcase-1 a svg {
        margin-left: 10px;
        width: 50px;
    }
    .final-design img{
        padding: 0px;
    }
    .panel01{
        position: relative;
        top: 0px;
        left: 8%;
    }
    .panel02{
        left: 12%;
    }
}

@media only screen and (max-width: 404px) {
    .panel02{
        position: relative;
        top: -8%;
        left: 40%;
    }
}